$color-1: #1d907e;
$color-2: #51bbab;
// $color-1: #989ffe;
// $color-2: #5372e7;
$color-8: #e8264f;
$color-9: #1d907e;
$color-10: #fdb815;
$color-3: #f6f6f6;
$color-4: #e9edf2;
$color-5: #a6a6a6;
$color-6: #171717;
$color-7: #020202;
$color-8: #936b52;

$color-bg-primary: #1d907e;
$color-bg-secondary: #51bbab;
// $color-bg-primary: #5372e7;
// $color-bg-secondary: #989ffe;
$color-bg-disabled: #a6a6a6;
$color-bg-dark: #171616;
$color-bg-light: #fafafa;
$color-bg-danger: #e8264f;
$color-bg-success: #1d907e;
$color-bg-warning: #fdb815;
$color-text-primary: #1d907e;
$color-text-secondary: #51bbab;
// $color-text-primary: #5372e7;
// $color-text-secondary: #989ffe;
$color-text-disabled: #a6a6a6;
$color-text-dark: #0e0d0d;
$color-text-light: #ffffff;
$color-text-danger: #e8264f;
$color-text-success: #1d907e;
$color-text-warning: #fdb815;
